.fc {
    direction: ltr;
    text-align: left;
}

.fc .fc-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fc .fc-daygrid-day {
    border: 1px solid #ddd;
}

.fc .fc-daygrid-day-events {
    margin: 2px;
}

.fc .fc-event {
    background-color: #b47c14;
    color: white;
    padding: 2px 4px;
    border-radius: 3px;
}


.fc .fc-button {
    background-color: #b47c14; 
    color: white; 
    border: none; 
    border-radius: 3px; 
    padding: 5px 10px; 
    font-size: 14px; 
    font-weight: bold; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.fc .fc-button:hover {
    background-color: #9a6a10; 
}

.fc .fc-button:disabled {
    background-color: #ddd; 
    cursor: not-allowed; 
}