
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fdf5e6;
    color: #333;
    margin: 0;
    padding: 0;
}

#calendario {
    height: 600px; 
}


body {
    font-family: 'Georgia', serif; 
    background-color: #fdf5e6; 
    color: #333; 
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #8f7552; 
    padding: 10px 20px;
    border-bottom: 5px solid #f3ca95; 
}

header .logo img {
    height: 110px; 
}

header .menu {
    display: flex;
    gap: 20px; 
}

header .menu a {
    text-decoration: none;
    color: #ffcc00; 
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 5px 10px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 2px solid transparent; 
}

header .menu a:hover {
    color: #fff; 
    border-bottom: 2px solid #050505; 
}


section {
    padding: 20px;
    display: none;
}


button {
    background-color: #ffcc00; 
    color: #000; 
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 5px;
    margin: 3px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e6b800; 
}


#calendario {
    margin-top: 20px;
    background-color: #fff; 
    border: 2px solid #ffcc00; 
    border-radius: 5px;
    padding: 10px;
}


ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

ul li {
    background-color: #ffedd6; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    padding: 10px 15px; 
    margin-bottom: 10px; 
    font-size: 14px; 
    font-weight: 300;
    color: #333; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
}

ul li:hover {
    transform: translateY(-2px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


ul li button {
    background-color: #ffcc00; 
    color: #000; 
    border: none;
    padding: 5px 10px; 
    font-size: 12px; 
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px; 
    transition: background-color 0.3s ease;
    margin-left: 5px; 
}

ul li button:hover {
    background-color: #e6b800; 
}


input, select, textarea {
    width: 30%; 
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    font-size: 14px; 
    font-family: 'Roboto', sans-serif; 
    color: #333; 
    background-color: #fff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}

input:focus, select:focus, textarea:focus {
    border-color: #ffcc00; 
    box-shadow: 0 0 5px rgba(255, 204, 0, 0.5); 
    outline: none; 
}


label {
    font-size: 14px; 
    font-weight: bold; 
    color: #333; 
    margin-bottom: 5px; 
    display: block; 
}
